{% extends "base.html" %}
{% block featured %}
    <div class="buttons">
        <form action="/featured" method="POST">
        <p>
            <input type="submit" value="Featured Article" name="featured" />
        </p>
        </form>
    </div>
{% endblock %}
{% block header2 %}
    <h2>
        <a href="{{wiki}}">
            {{title}}
        </a>
    </h2>
{% endblock %}
{% block image %}
    {% if picture == -1 %}
        <p></p>
    {% else %}
        <img src="{{picture}}">
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        {{content}}
    </p>
    <iframe width="500" height="350" src={{ embed }} title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <p>
        <a href="{{google}}">
            Click here to search Google
        </a>
    </p>
{% endblock %}
