{% extends "base.html" %}
{% block header2 %}
    {% if game_title == -1 %}
        <p>Please search for another term.</p>
    {% else %}
        <h2>
            <a href="{{wiki}}">
                {{game_title}}
            </a>
        </h2>
    {% endif %}
{% endblock %}
{% block image %}
    {% if game_title == -1 %}
        <p></p>
    {% else %}
        <img src="{{picture}}">
    {% endif %}
{% endblock %}
{% block content %}
    {% if game_title == -1 %}
        <p></p>
    {% else %}
        <p>
            {{content}}
        </p>
        <iframe width="500" height="350" src={{ embed }} title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <p>
            <a href="{{google}}">
                Click here to search Google
            </a>
        </p>
    {% endif %}
{% endblock %}
