{% extends "base.html" %}
{% block header2 %}
    <h2>
        {{game_title}}
    </h2>
{% endblock %}
{% block image %}
    {% if picture == -1 %}
        <p>[Could not find image.]</p>
    {% else %}
        <img src="{{picture}}">
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        {{content}}
    </p>
    <iframe width="500" height="350" src={{ embed }} title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
